
@implements IDisposable


@if(allState.ShowGeneralDepartment){
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header"> 
                        <h4 class="float-start">Tổng hợp phòng ban</h4>
                        <button class="btn btn-primary float-end" @onclick="OpenDialog">
                            <i class="bi bi-plus-circle-fill"></i> Thêm phòng ban </button>
                    </div>
                    <div class="card-header">
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Tên phòng ban</th>
                                        <th scope="col">Mô tả</th>
                                        <th scope="col">Ngày tạo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>minh</td>
                                        <td>mùa</td>
                                        <td>như</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>minh</td>
                                        <td>mùa</td>
                                        <td>như</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>minh</td>
                                        <td>mùa</td>
                                        <td>như</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<GeneralDepartmentDialog  @ref="generalDepartmentDialog" 
HandleSaveOperationEvent ="HandleSaveOperationEvent"
GeneralDepartment="GeneralDepartment"/>
@code{
    GeneralDepartmentDialog? generalDepartmentDialog;
    GeneralDepartment GeneralDepartment = new();
    public string Title { get; set; } = "Add";
    public List<GeneralDepartment> GeneralDepartments { get; set; } = new();

    protected async override Task OnInitializedAsync()
    {
        await GetGeneralDepartments();
        allState.Action += StateHasChanged;
    }

    private async Task GetGeneralDepartments(){
        GeneralDepartments = await generalDepartmentService.GetAll(Constants.GeneralDepartmentBaseUrl);
    }

    private async Task HandleSaveOperationEvent(GeneralDepartment generalDepartment ){
        bool successCheck = false;
        if (generalDepartment.Id > 0)
        {
            var result = await generalDepartmentService.Update(GeneralDepartment, Constants.GeneralDepartmentBaseUrl);
            successCheck = await DisplayMessage(result.Flag, result.Message);
        }
        else{
            var respone = await generalDepartmentService.Insert(GeneralDepartment, Constants.GeneralDepartmentBaseUrl);
            successCheck = await DisplayMessage(respone.Flag, respone.Message);
        }
        if(successCheck){
            GeneralDepartment = new();
            await GetGeneralDepartments();
            generalDepartmentDialog?.ChangeTitle("Add");
        }
    }

    private void EditClicked(GeneralDepartment dep){
        generalDepartmentDialog?.ChangeTitle("Update");
        GeneralDepartment = dep ;
        OpenDialog();
    }







    private async Task<bool> DisplayMessage(bool flag, string message){
        if(flag){
            await dialogService.AlertAsync(message, "Hành động hoàn tất!");
            return true;
        }
        else{
            await dialogService.AlertAsync(message, "Cảnh báo!!!");
            return false;
        }
    }

    void OpenDialog()
    {
        generalDepartmentDialog?.OpenDialogs();
    }

        public void Dispose()
    {
        allState.Action-= StateHasChanged;
    }
}