<SfDialog Width="280px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible">
    <DialogEvents OnOpen="OpenDialogs"></DialogEvents>
    <DialogTemplates>
        <Header>Cập nhật User</Header>
        <Content>
            <EditForm Model="ManagerUser" Enhance OnSubmit="Save">
                <div class="card border-success">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label">Tên</label>
                            <input @bind="ManagerUser.Name" class="form-control" disabled></input>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Email</label>
                            <InputText @bind-Value="ManagerUser.Email" class="form-control" disabled></InputText>
                        </div>
                        <div class="form-group mt-3 mb-3">
                            <label class="form-label">Chọn Role </label>
                            @if (ManagerUser.Role != null)
                            {
                                string selected = ManagerUser.Role!;
                                <SfDropDownList TValue="string" TItem="SystemRole" Placeholder="@selected" DataSource="SystemRoles">
                                    <DropDownListFieldSettings Value="Name" Text="Name"></DropDownListFieldSettings>
                                    <DropDownListEvents TValue="string" TItem="SystemRole" ValueChange="OnValueChange"></DropDownListEvents>
                                </SfDropDownList>
                            }
                            else
                            {
                                <SfDropDownList TValue="string" TItem="SystemRole" Placeholder="Chọn Roles" DataSource="SystemRoles">
                                    <DropDownListFieldSettings Value="Name" Text="Name"></DropDownListFieldSettings>
                                    <DropDownListEvents TValue="string" TItem="SystemRole" ValueChange="OnValueChange"></DropDownListEvents>
                                </SfDropDownList>
                            }
                        </div>
                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>

    <DialogButtons>
        <DialogButton Content="Lưu" Type="ButtonType.Submit" IsPrimary="true" OnClick="Save"></DialogButton>
    </DialogButtons>
</SfDialog>

@code {
    [Parameter] public  ManageUser ManagerUser  { get; set; } = new();
    [Parameter] public List<SystemRole>  SystemRoles{ get; set; } = new();
    [Parameter] public EventCallback<ManageUser> HandleSaveOperationEvent { get; set; }

    private bool IsVisible { get; set; } = false;

    private async void Save()
    {
        try
        {
            if (string.IsNullOrEmpty(ManagerUser.Name) || ManagerUser.Role == null)
            {
                await dialogService.AlertAsync("Bạn cần nhập tên User và chọn Role!", "Thông báo!");
                return;
            }
            Console.WriteLine($"Debug: User ID = {ManagerUser.UserId}, Name = {ManagerUser.Name}, Country = {ManagerUser.Role}");
            await HandleSaveOperationEvent.InvokeAsync(ManagerUser);
        }
        catch (Exception ex)
        {
            await dialogService.AlertAsync($"Đã xảy ra lỗi: {ex.Message}", "Lỗi!");
        }
    }



    // Mở dialog
    public void OpenDialogs()
    {
        IsVisible = true;
        StateHasChanged();
    }


    public void OnValueChange(ChangeEventArgs<string, SystemRole> args)
    {
    ManagerUser.Role = args.Value.ToString();   
    }

    public void CloseDialogs()
    {
        // Đặt trạng thái dialog thành đóng
        IsVisible = false;
        StateHasChanged();
    }
}
