@using Microsoft.AspNetCore.Components.Authorization
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    Vui lòng đợi một chút ... Đang kiểm tra quyền truy cập của bạn.
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Không tìm thấy trang</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Xin lỗi, không có gì ở địa chỉ này</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>